<html>
    <head>
        <title>Wesoła Historyjka</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Wlazł kotek na płotek</a></h1>
        </div>

        <div>
            <p>Wlazł kotek na płotek i mruga</p>
            <p>ładna to piosenka, nie długa</p>
            <p>Nie długa nie krótka lecz w sam raz</p>
            <p>Zaśpiewaj koteczku jeszcze raz</p>
            <h2><a href="">A co by było gdyby?</a></h2>
            <p>A co by było gdyby kotem był pies?</p>
        </div>

        <div>

            <h2><a href="">Wlazł piesek na płotek</a></h2>
            <p>Wlazł piesek na płotek i mruga</p>
            <p>ładna to piosenka, nie długa</p>
            <p>Nie długa nie krótka lecz w sam raz</p>
            <p>Zaśpiewaj pieseczku jeszcze raz</p>
             </div>
    </body>
</html>